<a href="">
  <button class="btn btn-danger btn-md sign-in" data-toggle="modal" data-target="#myModal">
    Sign In
  </button>
</a>
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%if !current_user %>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
        <% else %>
        <h4 class="modal-title" id="myModalLabel">Log Out</h4>
        <% end %>
      </div>
      <div class="modal-body">

          <p><div class="twitter-button" style="margin-left: 170px;">
            <a href="/auth/twitter" class="auth_provider">
              <button class="btn btn-twitter"><i class="icon-twitter"></i> Connect with Twitter</button>
              <%# image_tag "sign-in-with-twitter-gray.png",  alt: "Twitter" %>
            </a></p></br></br>
          </div>
          <p><div class="facebook-button" style="margin-left: 170px;">
            <a href="/auth/facebook" class="auth_provider">
              <button class="btn btn-facebook"><i class="icon-facebook"></i> Connect with Facebook</button>
              <%# image_tag "pressed_404.png", alt: "Facebook" %>
            </a></p></br></br></br>
          </div>

          <!-- <%# form_tag "/auth/identity/callback" do %>
            <div class="field">
              <%# label_tag :auth_key, "Email" %><br>
              <%# text_field_tag :auth_key, nil, placeholder: "Enter email", required: true %>
            </div>
            <div class="field">
              <%# label_tag :password %><br>
              <%# password_field_tag :password, nil, placeholder: "Enter password", required: true %>
            </div>
            <div class="actions"><%# submit_tag "Login" %></div> -->


      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
