<div id= "splash">
  <h1>Booklust</h1>
  <h2>Booklust connects readers with the books they love.</h2><br>
  <h3></h3>
  <button>Sign-up with your email</button>
  <button>Sign-up with Facebook</button>
  <h3>Already a user?  Great!  Sign-in here.</h3>
</div>