
<div id="title">
  <h1 id= "splashTitle">Booklust</h1>
  <h2>Connecting you with books you'll love.</h2><br>
  <%= render :partial => "sessions/signin" %>
  <%= render :partial => "sessions/signup" %>
</div></br>
<div id= "splash"></div>