/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#aboutModal a {
  color: rgba(154,33,27,1);
  text-decoration: none;
}
#aboutModal a:hover,
#aboutModal a:focus {
  color: rgba(103,22,18,1);
  text-decoration: underline;
}

.add {
  margin: 5px;
}

.buy {
  margin: 5px 5px 5px 0;
}

.remove {
  margin: 5px;
}

body {
  padding-top: 110px;
  padding-bottom: 30px;
  background-color: rgb(250,250,250) !important;

}

.navbar-brand {
  font-family: 'Cherry Swash', cursive;
  color: rgba(154,33,27, 1) !important;
  font-size: 30px !important;
}

.navbar {
  background-color: rgba(255,255,255,0.9) !important;
  height: 80px;
  padding: 15px;
  font-size: 18px;
}
