/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.navbar-brand {
  font-family: 'Cherry Swash', cursive;
  color: rgba(154,33,27, 1) !important;
  left-margin: 200px !important;
  font-size: 30px !important;
}

.navbar {
  background-color: rgba(255,255,255,0.9) !important;
  height: 80px !important;
  padding: 15px !important;
  font-size: 18px;
}
