// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  text-align: center;
}

.sign-up {
  margin: 10px 5px 10px 5px;
  width: 150px !important;
}

.sign-in {
  margin: 10px 5px 10px 5px;
  width: 200px !important;
}

.twitter-button .facebook-button {
  margin-left: 200px;
}
.auth_providers {
  height: 90px;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;

  img {
    display: block;
  }
}
#landing {
  text-align: center;
  margin: -110px 20px 0px 20px;

}
#splashTitle {
  color: rgba(154,33,27,1);
  font-size: 150px;
  font-family: 'Cherry Swash', cursive;
}

#splash {
  position: fixed;
  height: 70%;
  width: 100%;
  background-image: url("splash_screen_web_ready.jpg");
  background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 59%, rgba(255,255,255,1) 100%), url('splash_screen_web_ready.jpg') no-repeat;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,0)), color-stop(59%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,1))), url('splash_screen_web_ready.jpg') no-repeat;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('splash_screen_web_ready.jpg') no-repeat;
  background: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('splash_screen_web_ready.jpg') no-repeat;
  background: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('splash_screen_web_ready.jpg') no-repeat;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.90) 59%,rgba(255,255,255,0.95) 100%), url('splash_screen_web_ready.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
}