// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth_providers {
  height: 90px;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;

  img {
    display: block;
  }
}

#splash {
  height: 800px;
  width: 1500px;
  text-align: center;
  background-image: url("screen_img_web_background.jpg");
  background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 59%, rgba(255,255,255,1) 100%), url('screen_img_web_background.jpg') no-repeat;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,0)), color-stop(59%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,1))), url('screen_img_web_background.jpg') no-repeat;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('screen_img_web_background.jpg') no-repeat;
  background: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('screen_img_web_background.jpg') no-repeat;
  background: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('screen_img_web_background.jpg') no-repeat;
  background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 59%,rgba(255,255,255,1) 100%), url('screen_img_web_background.jpg') no-repeat;
  background-size: cover;
}