<div>

  <div class="row">

    <div id="books">

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/516m-gSGnaL.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/515kzV0-w%2BL.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/51CHbIii7fL.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/51CHbIii7fL.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/51HYmp4Jy2L.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/51HYmp4Jy2L.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/51TChFM9hXL.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/51TChFM9hXL.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/515kzV0-w%2BL.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/516m-gSGnaL.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/51UvpQlXv9L.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/51UvpQlXv9L.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/41HfjdXnn9L.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/41HfjdXnn9L.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/511pxKyNz1L.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/511pxKyNz1L.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/41GQoSNG8aL.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/41GQoSNG8aL.jpg" />
        </div>
      </div>

      <div class="book img-thumbnail">
        <div class="overlay-with-popover" data-content="popover content" data-title="popover title">
          <button type="button" class="btn btn-default btn-sm">Add</button>
        </div>
        <div class="center-cropped" style="background-image: url('http://ecx.images-amazon.com/images/I/51P4mKOfjLL.jpg');">
          <img src="http://ecx.images-amazon.com/images/I/51P4mKOfjLL.jpg" />
        </div>
      </div>
  </div>

</div>
