<h1>booklusts#index</h1>

<h1>Playing with Isotope!</h1>

<ul id="filters">filters:
  <li><a href="#" data-filter="*">show all</a></li>
  <li><a href="#" data-filter=".abstract">abstract</a></li>
  <li><a href="#" data-filter=".city">city</a></li>
  <li><a href="#" data-filter=".people">people</a></li>
  <li><a href="#" data-filter=".transport">transport</a></li>
  <li><a href="#" data-filter=".animals">animals</a></li>
  <li><a href="#" data-filter=".food">food</a></li>
  <li><a href="#" data-filter=".nature">nature</a></li>
  <li><a href="#" data-filter=".business">business</a></li>
  <li><a href="#" data-filter=".nightlife">nightlife</a></li>
  <li><a href="#" data-filter=".sports">sports</a></li>
  <li><a href="#" data-filter=".cats">cats</a></li>
  <li><a href="#" data-filter=".fashion">fashion</a></li>
  <li><a href="#" data-filter=".technics">technics</a></li>
  <li><a href="#" data-filter=".random">random</a></li>
  <li><a href="#" data-filter=".greyscale">greyscale</a></li>
</ul>

<ul id="sort-by">sort by:
  <li><a href="#original-order">original order</a></li>
  <li><a href="#category">category</a></li>
  <li><a href="#random">random</a></li>
</ul>

<div id="container">

  <div class="item abstract" data-category="abstract"><img src="http://ecx.images-amazon.com/images/I/516m-gSGnaL.jpg" width="341" height="500"></div>
  <div class="item city" data-category="city"><img src="http://ecx.images-amazon.com/images/I/51CHbIii7fL.jpg" width="332" height="500"></div>
  <div class="item people" data-category="people"><img src="http://ecx.images-amazon.com/images/I/51HYmp4Jy2L.jpg" width="332" height="500"></div>
  <div class="item transport" data-category="transport"><img src="http://ecx.images-amazon.com/images/I/51TChFM9hXL.jpg" width="324" height="500"></div>
  <div class="item animals" data-category="animals"><img src="http://ecx.images-amazon.com/images/I/515kzV0-w%2BL.jpg" width="325" height="500"></div>
  <div class="item food" data-category="food"><img src="http://ecx.images-amazon.com/images/I/51UvpQlXv9L.jpg" width="331" height="500"></div>
  <div class="item nature" data-category="nature"><img src="http://ecx.images-amazon.com/images/I/41HfjdXnn9L.jpg" width="318" height="500"></div>
  <div class="item business" data-category="business"><img src="http://ecx.images-amazon.com/images/I/511pxKyNz1L.jpg" width="323" height="500"></div>
  <div class="item nightlife" data-category="nightlife"><img src="http://ecx.images-amazon.com/images/I/41GQoSNG8aL.jpg" width="328" height="500"></div>
  <div class="item sports" data-category="sports"><img src="http://ecx.images-amazon.com/images/I/51P4mKOfjLL.jpg" width="334" height="500"></div>

</div>