<h1>Booklust!</h1>

<div>

  <div class="row">

    <div id="books">

      <% @combined_print_and_e_book_nonfiction.each do |book| %>
        <%= render "book", book: book %>
      <% end %>

      <% @manga.each do |book| %>
        <%= render "book", book: book %>
      <% end %>

      <% @young_adult.each do |book| %>
        <%= render "book", book: book %>
      <% end %>
    </div>

  </div>

</div>
